@model IEnumerable<BonTemps.Models.Menu>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

@if (User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Nieuw menu</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuSoort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>Gerechten</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuSoort.Soort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                <ul>
                    @foreach (var gerecht in item.MenuGerechten.Select(s => s.Gerecht))
                    {
                        <li>@gerecht.Naam</li>
                    }
                </ul>
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Wijzigen</a> @("|")
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> @("|")
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
